<div class="px-4 max-w-6xl mx-auto">
    <article>
        <header class="mb-8 mx-auto md:max-w-xl">
            <h1 class="mb-4 text-center font-medium text-2xl md:text-5xl leading-tight">
                {{ title }}
            </h1>

            {{ if updated_at }}
                <div class="text-center text-sm">
                    Senast uppdaterad <time datetime="{{ updated_at format="Y-m-d H:i:s.u" }}">{{ updated_at iso_format="Do MMMM YYYY" }}</time>
                    {{ if author }}
                        {{ relate:author }}
                             av {{ name }}
                        {{ /relate:author }}
                    {{ /if }}
                </div>
            {{ /if }}
            {{ if recipe_main_image }}
                <img src="{{ glide src="{recipe_main_image}" width="800" height="300" }}" class="my-6 rounded-lg shadow-lg">

            {{ /if }}
        </header>

        <div class="grid grid-cols-5 gap-12">
            <div class="col-span-3">
                {{ bard_field }}
                    {{ if type == "text" }}
                        <div class="prose">
                            {{ text }}
                        </div>
                    {{ /if }}
                {{ /bard_field }}
            </div>

            <div class="col-span-2 p-6 rounded bg-gray-100 font-sans space-y-4">
                {{ if ingredients_list }}
                    <h3 class="text-2xl font-semibold">Ingredienser</h3>
                    <ul class="space-y-1">
                    {{ ingredients_list }}
                        <li>
                            {{ if type == "ingredient_headline" }}
                                <h4 class="mt-4 text-lg font-semibold">
                                    {{ ingredient_headline }}
                                </h4>
                            {{ elseif type == "ingredient_item" }}
                            <div class="flex">
                                <div class="w-24">
                                    {{ if amount }}
                                        <span>{{ amount }}</span>
                                    {{ /if }}
                                    {{ if unit }}
                                        <span>{{ unit }} </span>
                                    {{ /if }}
                                </div>
                                <div class="pl-4">
                                    {{ ingredient }}
                                </div>
                            </div>
                            {{ /if }}
                        </li>
                    {{ /ingredients_list }}
                    </ul>
                {{ /if }}
            </div>
        </div>
    </article>
</div>

